<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner" >
                <h3><span id ="recordCountAnm"></span></h3>

                <p>ANM Count</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a asp-controller="ApplicantAnm" asp-action="Display" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3><span id="recordCountGnm"></span></h3>

                <p>GNM Count</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a asp-controller="ApplicantGnm" asp-action="Display" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner" id="mbbs_count">
                <h3><span id="recordCountMbbs"></span></h3>

                <p>Mbbs Count</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a asp-controller="ApplicantMbbs" asp-action="Display" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3><span id="recordCountAllied"></span></h3>

                <p>Allied Count</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a asp-controller="ApplicantAllied" asp-action="Display"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->
<!-- Main row -->

<!-- /.row (main row) -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        

        $.ajax({
            url: '/Home/CountRecords',
            success: function (result) {
                var recordCountAnm = document.getElementById("recordCountAnm");
                var recordCountGnm = document.getElementById("recordCountGnm");
                var recordCountMbbs = document.getElementById("recordCountMbbs");
                var recordCountAllied = document.getElementById("recordCountAllied");

                recordCountAnm.textContent = result.recordCountAnm;
                recordCountGnm.textContent = result.recordCountGnm;
                recordCountMbbs.textContent = result.recordCountMbbs;
                recordCountAllied.textContent = result.recordCountAllied;
                
            }
        });
    });
</script>